language: scala

scala:
  - 2.11.0

jdk:
  - openjdk8

before_script:
  - ./gradlew assemble
  - wget https://archive.apache.org/dist/spark/spark-2.3.2/spark-2.3.2-bin-hadoop2.7.tgz
  - tar xf spark-2.3.2-bin-hadoop2.7.tgz -C $HOME/.cache/spark

env:
  - SPARK_HOME=$HOME/.cache/spark/spark-2.3.2-bin-hadoop2.7

script:
  - ./gradlew build